

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@font-face {
    font-family: titleFont;
    src: url(Lyric_Poetry.ttf);
}

@font-face {
    font-family: generalFont;
    src: url(demo.otf);
}

@font-face {
    font-family: buttonFont;
    src: url(BELACU.ttf);
}

@font-face {
    font-family: navFont;
    src: url(Adlibitum_Light.ttf);
}

* {
  box-sizing: border-box;
}


body {
  background-position: 0px 40px;
	background-image: url(back.jpg);
	background-attachment: fixed;
	background-size: 80%;
	background-repeat: no-repeat;
	background-color: black;
	width: 100%;
}
#home {
	margin-top: 7%;
}
#main {
  padding-top: 60px;
  margin: 0 auto;
}

nav {
  font-family: generalFont;
}
footer {
  padding: 10px;
  font-family: generalFont;
}
footer h5 {
  width: 80%;
  margin-left: 10%;
}
.nav-links {
  color: purple;
  font-size: 25px !important;
}

#navbar-title {
  color: purple;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 50px;
  font-style: bold;
}
.tarot-button {
  margin-left: 25%;
  width: 50%;
  height: 50px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
  font-size: 32px;
  text-align: center;
  font-family: buttonFont;
}
.tarot-button:hover {
  color: purple;
  border-color: purple;
}

.bottom-buttons {
  padding-left: 10px;
  padding-right: 10px;
}

.bottom-buttons:hover i {
  color: magenta;
}
.bottom-buttons:hover h3 {
  color: lightgreen;
}

#modal-button {
  color: green;
  border-color: green;
  margin-bottom: 10px;
}
#modal-button:hover {
  color: purple;
  border-color: purple;
}

.tarot-explanation {
  margin-left: 27%;
  width: 180px;
  height: 300px;
  margin-bottom: 5%;
  background-color: black;
}
.tarot-spread {
  margin-top: 0px;
  z-index: 99;
  width: 180px;
  height: 300px;
  margin-bottom: 5%;
}

.description {
  font-family: generalFont;
  position: absolute;
  opacity: 0;
  padding-left: 5px;
  color: white;
}

.tarot-explanation:hover .tarot-spread{
 opacity: 0.2;
}
.tarot-explanation:hover .description{
 opacity: 1;

}

.redfont {
  font-size: 25px;
  color: magenta;
}
.greenfont {
  font-size: 25px;
  color: lightgreen;
}

.positionfont {
  font-size: 25px;
  color: red;
}

.upright {
  color: lightgreen;
}

.reversed {
  color: magenta;
}
.flip {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: flipv; /*IE*/
}

.spread-modal {
  width: 90%;
  margin-left: 5%;
   -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.spread-image {
  width: 80%;
  margin-left: 10%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.spread:hover .spread-image {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.spread:hover .spread-title {
  color: lightgreen;
}

#loading {
  width: 30%;
  margin-left: 35%;
}
.space {
  margin-top: 5%;
}

#card-modal {
  margin-top: 2%;
  width: 60%;
  height: 400px;
  margin-left: 20%;
  position: fixed;
  background-color: white;
  z-index: 999;
  overflow: scroll;
  border-radius: 5px;
}

#bottom {
  margin-bottom: 0px !important;
}

#modal-image {
  margin-top: 50px;
}

.intro {
  font-family: generalFont;
  font-size: 100px;
  text-align: center;
	color: white;
}


.genres {
  font-family: generalFont;
  font-size: 70px;
  text-align: center;
  color: lightgreen;
}
.instructions {
  font-family: generalFont;
  font-size: 50px;
  text-align: center;
  color: magenta;
}
.spread-title {
  font-family: generalFont;
  font-size: 40px;
  text-align: center;
  color: white;
}

.modal-header {
  font-family: generalFont;
  font-size: 70px;
  text-align: center;
  color: purple;
}
